# Homework 1

- D-532 Spring 23
- First Name Last Name

## Part 1 Import tables - 25pts

Step 1. Create db named income

Step 2. Import ``income.csv``

Step 3. Print Column names. Note - cursor with query execution has been created. Add code to extract column names.
- All_weekly = average weekly income
- M_weekly = Male employees weekly income
- F_weekly = Female employees weekly income

Step 4. Select records where weeklly income (All_weekly) is greater than 2000

Step 5. Select occupations and average weekly income in Business industry  and where Female employees weekly income is greater than male employees weekly income. Convert results into dataframe and name columns as Job and Income.

Step 6. You need to print the list of industries used in your database. Like you would use set() in python, you will use ```distinct``` with your column name to remove duplicate names. Print the results.

Step 7. Close cursor and connection

## Part 2. Database Design - 25pts

Q1. If you design a database schema for income data, which attribute(s) would you choose as a primary key? And why?

Answer:

Q2. You decided to redisign income database and split into several tables. What changes would you implement?

Answer:

Note for submission: convert to PDF and submit